<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

    <hibernate-configuration>
	<session-factory>

   <mapping class="com.admin.model.AdminModel" />
   
   <mapping class="com.payroll.Master.Model.CompanyModel" />   
   
   <mapping class="com.payroll.Master.Model.SuperVisorModel" />
   
   <mapping class="com.payroll.Master.Model.LedgerModel" />
   
   <mapping class="com.payroll.Master.Model.ManagerModel" />
   
   <mapping class="com.Enquiry.model.EnquiryModel"/>  
   
   <mapping class="com.employee.model.EmployeeModel"/> 
   
  
    </session-factory>
    </hibernate-configuration>
